In [1]:
#Create a list
L = ["Emma", 2021, "F", 54.3]
L

['Emma', 2021, 'F', 54.3]

In [4]:
# Add elements to the list
L = ["Emma", 2021, "F", 54.3]
L.extend(["cool", 37])
L

['Emma', 2021, 'F', 54.3, 'cool', 37]

In [5]:
#Adding one element with append
L = ["Emma", 2021, "F", 54.3]
L.append(["cool", 37])
L

['Emma', 2021, 'F', 54.3, ['cool', 37]]

In [6]:
#Changing an element
L = ["Emma", 2021, "F", 54.3]
L[0] = "Joy"
L

['Joy', 2021, 'F', 54.3]

In [8]:
#Deleting an element
L = ["Emma", 2021, "F", 54.3]
del(L[0])
L

[2021, 'F', 54.3]

In [9]:
#Creating a tuple
T = ("emma", 2021, "f")
T

('emma', 2021, 'f')

In [10]:
#Printing the variables on each index
print(T[0])
print(T[1])
print(T[2])

emma
2021
f

In [11]:
#Concatenating tuples
T2 = T + ("amazing person", 37)
T2

('emma', 2021, 'f', 'amazing person', 37)

In [12]:
#length of tuple
len(T2)

5

In [13]:
#Sorting tuples
T3 = (11, 3, 8, 5)
SortedT = sorted(T3)
SortedT

[3, 5, 8, 11]

In [14]:
# Creating a dictionary
DictA = {"value1":1, "value2":"emma", "value3":[1,1,1], "value4": (7,7,7)}
DictA

{'value1': 1, 'value2': 'emma', 'value3': [1, 1, 1], 'value4': (7, 7, 7)}

In [15]:
#Accessing values with keys
DictA["value2"]

'emma'

In [16]:
#Getting all the keys
DictA.keys()

dict_keys(['value1', 'value2', 'value3', 'value4'])

In [17]:
#Getting all the values
DictA.values()

dict_values([1, 'emma', [1, 1, 1], (7, 7, 7)])

In [18]:
#Appeding a new key with value
DictA["value5"] = "sonya"
DictA

{'value1': 1,
 'value2': 'emma',
 'value3': [1, 1, 1],
 'value4': (7, 7, 7),
 'value5': 'sonya'}

In [19]:
#Deleting a key
del(DictA["value4"])
DictA

{'value1': 1, 'value2': 'emma', 'value3': [1, 1, 1], 'value5': 'sonya'}

In [20]:
#Verifying if a key is in the dictionary
"value2" in DictA

True

In [21]:
#Creating a set
S1 = {"mum", "dad", "little brother", "mum", "sister"}
S1

{'dad', 'little brother', 'mum', 'sister'}

In [23]:
#Adding an element to a set
S1.add("big brother")
S1

{'big brother', 'dad', 'little brother', 'mum', 'sister'}