In [1]:
name = "Charlie Brown"
print(name)

Charlie Brown

In [2]:
#print first element in the string
print(name[0])

C

In [3]:
#print the element on index 8 in the string
print(name[8])

B

In [4]:
#print the last element in the string
print(name[-1])

n

In [5]:
#print the first element in the string
print(name[-13])

C

In [6]:
#find the length of the string
len(name)

13

In [7]:
#slice the variable name from index 0 to index 6
name[0:7]

'Charlie'

In [8]:
#get every second element
name[::2]

'CaleBon'

In [9]:
#get every second element from index 0 to index 6
name[0:7:2]

'Cale'

In [10]:
#concatenate two strings
phrase = name + "is amazing!"
phrase

'Charlie Brownis amazing!'

In [11]:
#print string for 5 times
5 * name

'Charlie BrownCharlie BrownCharlie BrownCharlie BrownCharlie Brown'

In [12]:
#putting in a new line
print("Charlie Brown \n is amazing!")

Charlie Brown
 is amazing!

In [13]:
#putting a tab
print("Charlie Brown \t is amazing!")

Charlie Brown 	 is amazing!

In [14]:
#upper case
phrase = "Charlie Brown is amazing!"
print("lower case:", phrase)
allcaps = phrase.upper()
print("upper case:", allcaps)

lower case: Charlie Brown is amazing!
upper case: CHARLIE BROWN IS AMAZING!

In [16]:
#replace function
phrase = "Charlie Brown is amazing!"
newperson = phrase.replace("Charlie Brown", "Harry Potter")
newperson

'Harry Potter is amazing!'

In [17]:
#Finding first index of substring
phrase = "Charlie Brown is amazing!"
phrase.find("amazing")

17